<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>ErrorHandlerController</servlet-name>
		<display-name>ErrorHandlerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.exceptions.ErrorHandlerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerController</servlet-name>
		<display-name>CustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeController</servlet-name>
		<display-name>EmployeeController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticateEmployee</servlet-name>
		<display-name>AuthenticateEmployee</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.AuthenticateEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticateCustomer</servlet-name>
		<display-name>AuthenticateCustomer</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.AuthenticateCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerById</servlet-name>
		<display-name>CustomerById</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerById</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCustomer</servlet-name>
		<display-name>DeleteCustomer</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.DeleteCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerByName</servlet-name>
		<display-name>CustomerByName</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerByName</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DeleteEmployee</servlet-name>
		<display-name>DeleteEmployee</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.DeleteEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeById</servlet-name>
		<display-name>EmployeeById</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeById</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeByName</servlet-name>
		<display-name>EmployeeByName</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeByName</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewEmployees</servlet-name>
		<display-name>ViewEmployees</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.ViewEmployees</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerWithdraw</servlet-name>
		<display-name>CustomerWithdraw</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerWithdraw</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerDeposit</servlet-name>
		<display-name>CustomerDeposit</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerDeposit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeDeposit</servlet-name>
		<display-name>EmployeeDeposit</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeDeposit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeWithdraw</servlet-name>
		<display-name>EmployeeWithdraw</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeWithdraw</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeBalance</servlet-name>
		<display-name>EmployeeBalance</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeBalance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerBalance</servlet-name>
		<display-name>CustomerBalance</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerBalance</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrintCustomerController</servlet-name>
		<display-name>PrintCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.PrintCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeUpdate</servlet-name>
		<display-name>EmployeeUpdate</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateEmployeeController</servlet-name>
		<display-name>UpdateEmployeeController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.UpdateEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerUpdate</servlet-name>
		<display-name>CustomerUpdate</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerUpdate</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCustomerController</servlet-name>
		<display-name>UpdateCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.UpdateCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeTransfer</servlet-name>
		<display-name>EmployeeTransfer</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.EmployeeTransfer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerTransfer</servlet-name>
		<display-name>CustomerTransfer</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.CustomerTransfer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgotPasswordEmployee</servlet-name>
		<display-name>ForgotPasswordEmployee</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.employee.ForgotPasswordEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgotPasswordCustomer</servlet-name>
		<display-name>ForgotPasswordCustomer</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.ForgotPasswordCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmpCheckCustBalance</servlet-name>
		<display-name>EmpCheckCustBalance</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.customer.EmpCheckCustBalance</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ErrorHandlerController</servlet-name>
		<url-pattern>/ErrorHandlerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerController</servlet-name>
		<url-pattern>/CustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeController</servlet-name>
		<url-pattern>/EmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticateEmployee</servlet-name>
		<url-pattern>/AuthenticateEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticateCustomer</servlet-name>
		<url-pattern>/AuthenticateCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerById</servlet-name>
		<url-pattern>/CustomerById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomer</servlet-name>
		<url-pattern>/DeleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerByName</servlet-name>
		<url-pattern>/CustomerByName</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteEmployee</servlet-name>
		<url-pattern>/DeleteEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeById</servlet-name>
		<url-pattern>/EmployeeById</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeByName</servlet-name>
		<url-pattern>/EmployeeByName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewEmployees</servlet-name>
		<url-pattern>/ViewEmployees</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerWithdraw</servlet-name>
		<url-pattern>/CustomerWithdraw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerDeposit</servlet-name>
		<url-pattern>/CustomerDeposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeDeposit</servlet-name>
		<url-pattern>/EmployeeDeposit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeWithdraw</servlet-name>
		<url-pattern>/EmployeeWithdraw</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeBalance</servlet-name>
		<url-pattern>/EmployeeBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerBalance</servlet-name>
		<url-pattern>/CustomerBalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintCustomerController</servlet-name>
		<url-pattern>/PrintCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeUpdate</servlet-name>
		<url-pattern>/EmployeeUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmployeeController</servlet-name>
		<url-pattern>/UpdateEmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerUpdate</servlet-name>
		<url-pattern>/CustomerUpdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCustomerController</servlet-name>
		<url-pattern>/UpdateCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeTransfer</servlet-name>
		<url-pattern>/EmployeeTransfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerTransfer</servlet-name>
		<url-pattern>/CustomerTransfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordEmployee</servlet-name>
		<url-pattern>/ForgotPasswordEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordCustomer</servlet-name>
		<url-pattern>/ForgotPasswordCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmpCheckCustBalance</servlet-name>
		<url-pattern>/EmpCheckCustBalance</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Home.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/ErrorHandlerController</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ErrorHandlerController</location>
	</error-page>

</web-app>
